
<section class="section">
  <div class="container">
    <div class="row mb-3">
      <!--Form for create tweets - only for users -->
      <% if current_user%>
      <%= render 'create_tweet', tweet: @tweet %>
      
      <%end%>
      
    </div>
    <hr class="hr">
  </div>
  
</section>


<section class="section">
  <div class="container">
    <div class="row">
      <!--Form for create tweets - only for users -->
      <%= render 'feed' %>
      
    </div>
  </div>
</section>





<br>

<%# link_to 'New Tweet', new_tweet_path %>
